
/* Image profile */
.imgProfile{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* LOGOS HTML JS CSS - BOOSTRAP */
.logos{
    width: 25%;
    height: 25%;
}

.logos02{
    width: 32%;
    height: 32%;
}

.logos03{
    width: 42%;
    height: 42%;
}
.logos04{
    width: 70%;
    height: 70%;
}
/* LOGOS HTML JS CSS - BOOSTRAP */

/* CENTRAR DIV PADRE E HIJO */
.divCenter01{
    text-align:center;
}

.divCenter02{
    margin:0px auto;
}
/* CENTRAR DIV PADRE E HIJO */

.grow:hover
{
-webkit-transform: scale(1.3);
-ms-transform: scale(1.3);
transform: scale(1.3);
}


/* .row-centered {
    text-align:center;
    margin:0 auto;
}
.col-centered {
    display:block;
    float:none;
}
.pos {
    position: relative;
    top: 240px;
} */